html, body {
    height: 100%;
}

#wrapper {
    padding-left: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

#wrapper.toggled {
    padding-left: 0;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow: hidden;
    background: #111;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: #FFF;
    text-align: center;
    /*background-image: linear-gradient(0deg, rgba(107,208,228,1) 0%, rgba(96,78,177,1) 33%, rgba(200,142,102,1) 66%, rgba(201,85,169,1) 100%); /* w3c */
}

#wrapper.toggled #sidebar-wrapper {
    width: 0;
}

#page-content-wrapper {
    width: 100%;
    /* position: abosolute made sidebar overflow on <768 devices*/
    position: relative;
    padding: 15px;
    height: 100%;
    background: #333;
}

#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav li {
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
    text-align: center;

}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

/*
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
*/

@media (min-width: 768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #wrapper #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* personal stuff*/
.fill {
    height: 100%;
}

.image-canvas {
    height: calc(100% - 90px);
    width: 100%;
    overflow: auto;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;

    align-items: center;
}

#imageCanvas {
}

.no-padding {
    padding: 0;
}

canvas {
    border: .5em solid #fff;
    box-shadow: 0 0 60px 20px rgba(0, 0, 0, 0.4);
}

.tab-content {
    padding-bottom: 10px;
    padding-top: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

#draw {
    overflow: visible;
}

.top {
    height: 85%;
}

.bottom {
    height: auto;

}

.navbar-fixed-bottom {
    position: absolute;
    bottom: 0;
}

.nav-tabs {
    width: auto;
    white-space: nowrap;
    border-bottom: none;
    border-top: 1px solid #d91365;
    margin-top: 0;

    /* The following makes the nav tabs scrollable */
    overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;
    display: -moz-box;
}

.nav-tabs > li {
    margin-top: -1px;
    white-space: nowrap;
    overflow: hidden;
    padding-bottom: 5px;

    /* Makes nav tabs scrollable*/
    float: none;
}

.nav > li > a:hover {
    text-decoration: none;
    background-color: #d91365;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 0 0 4px 4px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border: 1px solid #d91365;
    border-top-color: transparent;
}

#menu-toggle {
    position: absolute;
    top: 10px;
    left: 260px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#menu-toggle.toggled {
    left: 10px;
}

.popover {
    max-height: 65px;
    text-align: center;
}

.color-picker {
    font-size: 30px;
}

.glyphicon-tint {
    font-size: 20px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.sidebar-upper {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-header h1 {

}

/* pinkish #c4918a;
blueish #32383f; */