html, body {
    height: 100%;
}

#wrapper {
    padding-left: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

#wrapper.toggled {
    padding-left: 0;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow: hidden;
    background: #212121;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: #FFF;
    text-align: center;
    /*background-image: linear-gradient(0deg, rgba(107,208,228,1) 0%, rgba(96,78,177,1) 33%, rgba(200,142,102,1) 66%, rgba(201,85,169,1) 100%); /* w3c */
}

#wrapper.toggled #sidebar-wrapper {
    width: 0;
}

#page-content-wrapper {
    width: 100%;
    /* position: abosolute made sidebar overflow on <768 devices*/
    position: relative;
    padding: 15px;
    height: 100%;
    background: #333;
}

#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav li {
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
    text-align: center;

}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

/*
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
*/

@media (min-width: 768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #wrapper #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* personal stuff*/
.fill {
    height: 100%;
}

#canvas-wrapper {
    height: calc(100% - 90px);
    width: 100%;
    overflow: auto;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    align-items: center;
    box-shadow: none;
}

.no-padding {
    padding: 0;
}

canvas {
    border: .5em solid #fff;
    box-shadow: 0 0 60px 20px rgba(0, 0, 0, 0.4);
    background: white;
}

.tab-content {
    padding: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    color: white;
}

.navbar-fixed-bottom {
    position: absolute;
    bottom: 0;
    padding: 0 10px 4px 10px;
    background: #212121;
    border-top: 3px solid #368397;
    letter-spacing: 0.1em;
}

.nav-tabs {
    width: 100%;
    white-space: nowrap;
    border-bottom: none;
    border-top: 3px solid #368397;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    /* The following makes the nav tabs scrollable */
    overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;
    display: -moz-box;
}

.nav-tabs > li {
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    padding: 0;
    /* Makes nav tabs scrollable*/
    float: none;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: none;
    border-radius: 0;
    padding-top: 12px;
    color: white;
}

.nav > li > #transform-nav-tab:hover, .nav-tabs > li.active > #transform-nav-tab, .nav-tabs > li.active > #transform-nav-tab:focus, .nav-tabs > li.active > #transform-nav-tab:hover {
    background: rgb(41, 128, 185);
    color: white;
    border: none;
}

.nav > li > #tints-nav-tab:hover, .nav-tabs > li.active > #tints-nav-tab, .nav-tabs > li.active > #tints-nav-tab:focus, .nav-tabs > li.active > #tints-nav-tab:hover {
    background: #8e44ad;
    color: white;
    border: none;
}

.nav > li > #adjustments-nav-tab:hover, .nav-tabs > li.active > #adjustments-nav-tab, .nav-tabs > li.active > #adjustments-nav-tab:focus, .nav-tabs > li.active > #adjustments-nav-tab:hover {
    background: #d35400;
    color: white;
    border: none;
}

.nav > li > #kernel-nav-tab:hover, .nav-tabs > li.active > #kernel-nav-tab, .nav-tabs > li.active > #kernel-nav-tab:focus, .nav-tabs > li.active > #kernel-nav-tab:hover {
    background: #f1c40f;
    color: white;
    border: none;
}

.nav > li > #draw-nav-tab:hover, .nav-tabs > li.active > #draw-nav-tab, .nav-tabs > li.active > #draw-nav-tab:focus, .nav-tabs > li.active > #draw-nav-tab:hover {
    background: #27ae60;
    color: white;
    border: none;
}

.popover {
    max-height: 65px;
    text-align: center;
    width: 200px;
}

.popover-content {
    color: black;
}

.color-picker {
    font-size: 30px;
}

.glyphicon-tint {
    font-size: 20px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.sidebar-upper {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
}

.sidebar-upper {
    /*padding: 15px;*/
}

.btn-side {
    width: 45%;
    letter-spacing: 0.15em;
    border-radius: 0;
    border: 5px solid ghostwhite;
    background-color: inherit;
    margin: 0 3px 0 3px;
}

.btn-side:hover, .btn-download:hover {
    background: rgba(255, 255, 255, 0.1);
    color: white;
}

.btn-download:visited {
    color: white;
    text-decoration: none;
}

.btn-download:active {
    color: white;
    text-decoration: none;
}

.btn-download {
    width: 95%;
    letter-spacing: 0.15em;
    border-radius: 0;
    border: 5px solid ghostwhite;
    background-color: inherit;
    margin: 10px 0 0 0;
    color: white;
}

.sidebar-upper header h1 {
    letter-spacing: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.seperator {
    height: 5px;
    width: 100%;
    margin: 20px 0 20px 0;
    background: linear-gradient(90deg, rgba(107, 208, 228, 1) 0%, rgba(96, 78, 177, 1) 33%, rgba(200, 142, 102, 1) 66%, rgba(201, 85, 169, 1) 100%);
}

.btn-tabpane {
    border-radius: 0;
    background: none;
    color: white;
}

/* pinkish #c4918a;
blueish #32383f; */
.menu-toggle {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    background: #212121;
    cursor: pointer;
    border: 2px solid #e3e3e3;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.menu-toggle:before, .menu-toggle:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.menu-toggle:hover {
    border-color: darkgoldenrod;
}

.menu-toggle:before, .menu-toggle:after {
    background-color: #e3e3e3;
    height: 3px;
    width: 14px;
    top: 50%;
    left: 50%;
    margin-left: -7px;
}

.menu-toggle:before {
    margin-top: -6px;
}

.menu-toggle:after {
    margin-top: 3px;
}

.menu-toggle-active {
    left: 260px !important;
    transform: rotate(45deg);
    border-color: #a20000 !important;
    background-color: #a20000 !important;
}

.menu-toggle-active:before, .menu-toggle-active:after {
    margin-left: -10px !important;
    margin-top: -2px !important;
    width: 19px;
}

.menu-toggle-active:after {
    transform: rotate(-90deg) !important;
}
