<aside id="sidebar-wrapper">
    <section class="sidebar-upper">
        <header>
            <h1>Theia</h1>
            <span>An Online Image Processing Tool</span>
        </header>
        <hr>
        <label class="btn btn-default btn-file">
            Browse <input type="file" id="imageLoader" style="display: none;">
        </label>
        <button type="button" id="myButton" class="btn btn-primary">
            Reset
        </button>
    </section>
</aside>

<!--
<header>
        <h1>Theia</h1>
        <span>An Online Image Processing Tool</span>
    </header>
    <section class="credits">
        <small>created by</small>
        <h2>Shady Fanous</h2>
    </section>
    <section class="contact">
        <ul>
            <li>
                <a href="#">Github</a>
            </li>
            <li>
                <a href="#">Email</a>
            </li>
        </ul>
    </section>
    <footer>
        <small>made using...</small>
    </footer>
-->

