<aside id="sidebar-wrapper">
    <section class="sidebar-upper">
        <header>
            <h1>Theia</h1>
            <span>An Online Image Processing Tool</span>
        </header>
        <div class="seperator"></div>
        <label class="btn btn-side btn-browse">
            Browse <input type="file" id="imageLoader" style="display: none;">
        </label>
        <button type="button" class="btn btn-side btn-reset">
            Reset
        </button>
        <a href="http://localhost:8000/editor/download/" type="button" class="btn btn-download">
            Download
        </a>
        <div class="seperator"></div>
    </section>
    <footer>
        <hr>
        <section class="credits">
            <small>Created by</small>
            <span class="hide-xs">·</span>
            <span class="name">Shady Fanous</span>
        </section>
        <section class="links">
            <a class="btn  link-btn email" href="mailto:sssfanous@gmail.com">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </a>
            <a class="btn link-btn github" href="https://github.com/ShadyF/theia-web">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
        </section>
    </footer>
</aside>

<!--
<header>
        <h1>Theia</h1>
        <span>An Online Image Processing Tool</span>
    </header>
    <section class="credits">
        <small>created by</small>
        <h2>Shady Fanous</h2>
    </section>
    <section class="contact">
        <ul>
            <li>
                <a href="#">Github</a>
            </li>
            <li>
                <a href="#">Email</a>
            </li>
        </ul>
    </section>
    <footer>
        <small>made using...</small>
    </footer>
-->

