<aside id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <header>
                <h1>Theia</h1>
                <span>An Online Image Processing Tool</span>
            </header>
        </li>
        <li>
            <section></section>
        </li>
        <li>
            <input type="file" id="imageLoader" name="imageLoader"/>
        </li>
    </ul>
</aside>

<!--
<header>
        <h1>Theia</h1>
        <span>An Online Image Processing Tool</span>
    </header>
    <section class="credits">
        <small>created by</small>
        <h2>Shady Fanous</h2>
    </section>
    <section class="contact">
        <ul>
            <li>
                <a href="#">Github</a>
            </li>
            <li>
                <a href="#">Email</a>
            </li>
        </ul>
    </section>
    <footer>
        <small>made using...</small>
    </footer>
-->

