<!DOCTYPE html>
<html lang="en">

<head>
    <title>Theia</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-colorpicker.css' %}">
    <!-- Open Sans -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/editor.css' %}">
</head>

<body>
<div id="wrapper">
    {% include 'includes/sidebar.html' %}
    <div id="page-content-wrapper">
        <div class="container-fluid fill">
            <section id="canvas-wrapper">
                <canvas></canvas>
            </section>
            <nav class="navbar navbar-default navbar-fixed-bottom">
                <div class="tab-content">
                    {% csrf_token %}

                    {% include 'includes/transforms_tab.html' %}
                    {% include 'includes/tints_tab.html' %}
                    {% include 'includes/colorfilters_tab.html' %}
                    {% include 'includes/adjustments_tab.html' %}
                    {% include 'includes/kernel_tab.html' %}
                    {% include 'includes/draw_tab.html' %}
                </div>
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a id="transform-nav-tab" href="#transforms">Transforms</a>
                    </li>
                    <li role="presentation"><a id="tints-nav-tab" href="#tints">Tints</a></li>
                    <li role="presentation"><a id="adjustments-nav-tab" href="#colorfilters">Color Filters</a></li>
                    <li role="presentation"><a id="adjustments-nav-tab" href="#adjustments">Adjustments</a></li>
                    <li role="presentation"><a id="kernel-nav-tab" href="#kernelfilter">Kernel Filters</a></li>
                    <li role="presentation"><a id="draw-nav-tab" href="#draw">Draw</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="menu-toggle menu-toggle-active" data-menu="2"></div>
</div>
<!--Main Scripts-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
<!-- Font Awesome -->
<script src="https://use.fontawesome.com/8941f711a8.js"></script>
<script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/ajax_csrf.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jqscribble.js' %}"></script>
<script type='text/javascript' src="{% static 'js/bootstrap-colorpicker.js' %}"></script>
<script type='text/javascript' src="{% static 'js/JIC.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/editor.js' %}"></script>
</body>

</html>