<!DOCTYPE html>
<html lang="en">

<head>
    <title>Theia</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Bootstrap -->
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-colorpicker.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/editor.css' %}">
</head>

<body>
<div id="wrapper">
    {% include 'includes/sidebar.html' %}
    <div id="page-content-wrapper">
        <div class="container-fluid fill">
            <section class="image-canvas">
                <canvas id="imageCanvas"></canvas>
            </section>
            <nav class="navbar navbar-default navbar-fixed-bottom">
                <div class="container-fluid fill">
                    <div class="tab-content">
                        {% include 'includes/transforms_tab.html' %}
                        {% include 'includes/tints_tab.html' %}
                        {% include 'includes/adjustments_tab.html' %}
                        {% include 'includes/kernel_tab.html' %}
                        {% include 'includes/draw_tab.html' %}
                    </div>
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active"><a href="#transforms">Transforms</a></li>
                        <li role="presentation"><a href="#tints">Tints</a></li>
                        <li role="presentation"><a href="#enhancements">Enhancements</a></li>
                        <li role="presentation"><a href="#kernelfilter">Kernel Filters</a></li>
                        <li role="presentation"><a href="#draw">Draw</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <a href="#" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
</div>
<!--Main Scripts-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/ajax_csrf.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jqscribble.js' %}"></script>
<script type='text/javascript' src="{% static 'js/bootstrap-colorpicker.js' %}"></script>
<script type='text/javascript' src="{% static 'js/editor.js' %}"></script>
</body>

</html>


<!--
<input type="file" id="imageLoader" name="imageLoader"/>
{% csrf_token %}
<button type="button" class="btn btn-default filter-button" data-action="Sharpen">Sharpen</button>
<button type="button" class="btn btn-default filter-button" data-action="Blur">Blur</button>
<button type="button" class="btn btn-default filter-button" data-action="EdgeEnhance">Edge Enhance</button>
<form class="form-inline image-forms" data-action="Translate">
    <div class="form-group">
        <label for="exampleInputName2">X</label>
        <input type="number" class="form-control" name="X" value="0" max="999" min="-999">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail2">Y</label>
        <input type="number" class="form-control" name="Y" value="0" max="999" min="-999">
    </div>
    <button type="submit" class="btn btn-default">Translate</button>
</form>
<canvas id="imageCanvas"></canvas>
-->