{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Theia</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type='text/javascript' src="https://use.fontawesome.com/8941f711a8.js"></script>
    <!-- Open Sans -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body>
<div id="app"></div>
{% render_bundle 'main' %}
</body>
</html>