.sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow: hidden;
  background: #212121;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #FFF;
  text-align: center;
  /*background-image: linear-gradient(0deg, rgba(107,208,228,1) 0%, rgba(96,78,177,1) 33%, rgba(200,142,102,1) 66%, rgba(201,85,169,1) 100%); /* w3c */
}

.seperator {
  height: 4px;
  width: 100%;
  margin: 20px 0 20px 0;
  background: linear-gradient(90deg, rgba(107, 208, 228, 1) 0%, rgba(96, 78, 177, 1) 33%, rgba(200, 142, 102, 1) 66%, rgba(201, 85, 169, 1) 100%);
}

aside footer {
  position: absolute;
  bottom: 0;
  width: 250px;
  margin: 0;
  padding-bottom: 8px;
  color: #959595;
}

hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(186, 186, 186, 0.75), rgba(0, 0, 0, 0));
}

.name {
  color: #d6d6d6;
  font-size: 16px;
}

.credits {
  margin-bottom: 8px;
}

small {
  font-size: 14px;
}

.link-btn, .link-btn:visited {
  background: inherit;
  border: none;
  color: #BABABA;
  font-size: 25px;
  margin: 0 5px 0 5px;
}

.link-btn:hover, .link-btn:focus, .link-btn:active {
  background: none;
  color: #fbfbfb;
}

.sidebar-upper header h1 {
  letter-spacing: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.glyphicon-tint {
  font-size: 20px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.sidebar-upper {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
}

.btn-side {
  width: 45%;
  letter-spacing: 0.15em;
  border-radius: 0;
  border: 5px solid ghostwhite;
  background-color: inherit;
  margin: 0 3px 0 3px;
}

.btn-side:hover, .btn-download:hover {
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

.btn-side:focus, .btn-download:focus {
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

.btn-download:visited {
  color: white;
  text-decoration: none;
}

.btn-download:active {
  color: white;
  text-decoration: none;
}

.btn-download {
  width: 95%;
  letter-spacing: 0.15em;
  border-radius: 0;
  border: 5px solid ghostwhite;
  background-color: inherit;
  margin: 10px 0 0 0;
  color: white;
}